/mycomponent-addon/.project
/mycomponent-addon/.settings
/mycomponent-addon/target
/mycomponent-addon/.classpath
/mycomponent-demo/.project
/mycomponent-demo/.settings
/mycomponent-demo/target
/mycomponent-demo/.classpath
